/* IMPORTS FONTES */
/* ATENÇÃO! font Museo Sans-300 É PAGA pelo GOOGLE FONTS importada/donwload de forma FREE/pirata*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: Museo Sans;
    src:  url('../font/FontsFree-Net-Museo-Sans10.ttf');
}

/* Scroll None*/
body {
    overflow: hidden;
}

/* Logo da HI branca png transparente no toolbar localizado no canto superior esquerdo */
.logoHiHorizontal {
    display: flex;
    position: absolute;
    left: -17.6em;
    padding-left: 52px;
    
}

/* Nome usuario e logout no toolbar localizado no canto superior direito */
.userName {

    position: absolute;
    left: 78%;
    justify-content: space-between;
    
;}

/*Painel de Cadastro de Paciente */
.register {
    display: flex;
    justify-content: space-between;
}
.registerTitle{
    color: #068D54;
    font-family: 'Open Sans';
    font-size: 24px;
    padding-left: 42.25px;
}




/* Responsividade */



